@model WebMVC.Models.InportExcelModel

<h4>Выберите файл</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" /> 
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea type="text" rows="6" asp-for="Message" class="form-control"> </textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSend" /> @Html.DisplayNameFor(model => model.IsSend)
                </label>
            </div>

            <div class="form-group">
                <div class="col-md-10" id="dropZone">
                    Для загрузки, перетащите файл сюда.
                </div>
            </div>
            <br>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" id="inportFile" name="InportFile" accept=".xls, .xlsx" /><br>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Далее" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
